<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj_banker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1127},{677,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,58}}</string>
                <key>sourceSize</key>
                <string>{677,58}</string>
            </dict>
            <key>box_background01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,393},{188,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,73}}</string>
                <key>sourceSize</key>
                <string>{188,73}</string>
            </dict>
            <key>box_background02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,848},{146,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,64}</string>
            </dict>
            <key>box_buy_background01.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1218},{295,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,77}}</string>
                <key>sourceSize</key>
                <string>{295,77}</string>
            </dict>
            <key>box_buy_background02.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1882},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>button_yellowbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1966},{177,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,63}</string>
            </dict>
            <key>c_avatar_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,283},{286,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,286}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>c_avatar_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1459},{239,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,239}}</string>
                <key>sourceSize</key>
                <string>{239,239}</string>
            </dict>
            <key>c_avatar_other_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1592},{182,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,47}}</string>
                <key>sourceSize</key>
                <string>{182,47}</string>
            </dict>
            <key>c_avatar_other_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1218},{239,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,239}}</string>
                <key>sourceSize</key>
                <string>{239,239}</string>
            </dict>
            <key>c_avatarbox_giftbox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1599},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>c_dialogbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1552},{115,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,98}}</string>
                <key>sourceSize</key>
                <string>{115,98}</string>
            </dict>
            <key>c_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1515},{25,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,65}}</string>
                <key>sourceSize</key>
                <string>{25,65}</string>
            </dict>
            <key>c_hongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,283},{563,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,81}}</string>
                <key>sourceSize</key>
                <string>{563,81}</string>
            </dict>
            <key>c_mb_big_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1127},{51,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,564}}</string>
                <key>sourceSize</key>
                <string>{51,564}</string>
            </dict>
            <key>c_mb_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1912},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>c_mb_cutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2033},{344,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,4}}</string>
                <key>sourceSize</key>
                <string>{344,4}</string>
            </dict>
            <key>c_mb_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1646},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>c_mb_groove.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1964},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>c_mb_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1592},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>c_mb_pagecheck1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1731},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>c_mb_pagecheck2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1641},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>c_mb_pagecheck3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,821},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>c_mb_pagecheckback.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1985},{115,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,46}}</string>
                <key>sourceSize</key>
                <string>{115,46}</string>
            </dict>
            <key>c_menuicon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1731},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>c_menuicon_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1823},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>c_menuicon_leaveroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1965},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>c_orange_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1857},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>c_redpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1140},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>c_slide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1930},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>c_slide_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,869},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>common_small_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,283},{49,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,279}}</string>
                <key>sourceSize</key>
                <string>{49,279}</string>
            </dict>
            <key>exchange_yuanblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1405},{185,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,185}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>game_table_addbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1000},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>game_table_choosefriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1752},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>game_table_serch.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1776},{100,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,45}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>game_table_serchicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1953},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>gifts_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1927},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>greenbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1901},{177,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,63}</string>
            </dict>
            <key>icon_stencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>info_avatargroove.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1212},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,191}}</string>
                <key>sourceSize</key>
                <string>{191,191}</string>
            </dict>
            <key>label_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1700},{221,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,50}}</string>
                <key>sourceSize</key>
                <string>{221,50}</string>
            </dict>
            <key>label_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1752},{220,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,52}}</string>
                <key>sourceSize</key>
                <string>{220,52}</string>
            </dict>
            <key>label_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{1136,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,13}}</string>
                <key>sourceSize</key>
                <string>{1136,13}</string>
            </dict>
            <key>load.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1693},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>lobby_button_horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1837},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>lobby_button_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1882},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>lobby_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{1136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,70}}</string>
                <key>sourceSize</key>
                <string>{1136,70}</string>
            </dict>
            <key>lobby_inputbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1964},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>lobby_newsback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1140},{457,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,37}}</string>
                <key>sourceSize</key>
                <string>{457,37}</string>
            </dict>
            <key>lobby_newsback2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1140},{457,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,37}}</string>
                <key>sourceSize</key>
                <string>{457,37}</string>
            </dict>
            <key>message_chatgroove.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1930},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>mj_head_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,283},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>mj_interface_cpm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{524,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,279}}</string>
                <key>sourceSize</key>
                <string>{524,279}</string>
            </dict>
            <key>mj_interface_cpm_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1962},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>notice_groove.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1776},{59,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,72}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>receive_groove.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1123,122}}</string>
                <key>sourceSize</key>
                <string>{1123,122}</string>
            </dict>
            <key>redbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1806},{177,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,63}</string>
            </dict>
            <key>s_chat_whitebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1795},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>s_peacockbluebutton_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1828},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>s_peacockbluebutton_reduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1676},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>s_progressbar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1752},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>s_progressbar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,583},{200,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,22}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>s_storebox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,789},{209,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,332}}</string>
                <key>sourceSize</key>
                <string>{209,332}</string>
            </dict>
            <key>s_yellowbutton_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1757},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>s_yellowbutton_reduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1686},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>setting_dianxuanyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1902},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>setting_huadong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,631},{236,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,23}}</string>
                <key>sourceSize</key>
                <string>{236,23}</string>
            </dict>
            <key>setting_huadong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,393},{236,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,23}}</string>
                <key>sourceSize</key>
                <string>{236,23}</string>
            </dict>
            <key>setting_huadong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,583},{236,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,23}}</string>
                <key>sourceSize</key>
                <string>{236,23}</string>
            </dict>
            <key>shop_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1000},{216,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,328}}</string>
                <key>sourceSize</key>
                <string>{216,328}</string>
            </dict>
            <key>shop_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1686},{236,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,43}}</string>
                <key>sourceSize</key>
                <string>{236,43}</string>
            </dict>
            <key>shop_frame_02hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,788},{203,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,44}}</string>
                <key>sourceSize</key>
                <string>{203,44}</string>
            </dict>
            <key>shop_frame_02lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,583},{203,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,44}}</string>
                <key>sourceSize</key>
                <string>{203,44}</string>
            </dict>
            <key>shop_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,571},{216,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,328}}</string>
                <key>sourceSize</key>
                <string>{216,328}</string>
            </dict>
            <key>shop_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1896},{39,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,68}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
            <key>shop_frame_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{984,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{984,7}}</string>
                <key>sourceSize</key>
                <string>{984,7}</string>
            </dict>
            <key>shop_frame_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1218},{45,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,332}}</string>
                <key>sourceSize</key>
                <string>{45,332}</string>
            </dict>
            <key>vip_slider_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1700},{46,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,31}}</string>
                <key>sourceSize</key>
                <string>{46,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_170.pvr.ccz</string>
            <key>size</key>
            <string>{755,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:099bef195a327f6e375648e70ad09105:1/1$</string>
            <key>textureFileName</key>
            <string>common_170.pvr.ccz</string>
        </dict>
    </dict>
</plist>
