<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_interface_agreement_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1034,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1034,537}}</string>
                <key>sourceSize</key>
                <string>{1034,537}</string>
            </dict>
            <key>mj_interface_agreement_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eula.pvr.ccz</string>
            <key>size</key>
            <string>{1070,541}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3668be32b10ffa4ca8b621d74dfd12d4:1/1$</string>
            <key>textureFileName</key>
            <string>eula.pvr.ccz</string>
        </dict>
    </dict>
</plist>
