<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_interface_bg_invite_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,170},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
            <key>mj_interface_btn_approve.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{128,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,46}}</string>
                <key>sourceSize</key>
                <string>{128,46}</string>
            </dict>
            <key>mj_interface_btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,170},{128,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,46}}</string>
                <key>sourceSize</key>
                <string>{128,46}</string>
            </dict>
            <key>mj_interface_btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,130},{333,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,105}}</string>
                <key>sourceSize</key>
                <string>{333,105}</string>
            </dict>
            <key>mj_interface_friend_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,130},{41,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>mj_interface_invite_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,155}}</string>
                <key>sourceSize</key>
                <string>{166,155}</string>
            </dict>
            <key>mj_interface_invite_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>mj_interface_invite_friend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,130},{100,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,286}}</string>
                <key>sourceSize</key>
                <string>{100,286}</string>
            </dict>
            <key>mj_interface_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,130},{253,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,110}}</string>
                <key>sourceSize</key>
                <string>{253,110}</string>
            </dict>
            <key>mj_interface_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{733,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{733,126}}</string>
                <key>sourceSize</key>
                <string>{733,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>invite.pvr.ccz</string>
            <key>size</key>
            <string>{1140,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f62dec9f1a75c6b51f00ce1fc2e03e58:1/1$</string>
            <key>textureFileName</key>
            <string>invite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
