<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_main_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,144},{60,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,77}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>mj_main_ad_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{224,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,241}}</string>
                <key>sourceSize</key>
                <string>{224,241}</string>
            </dict>
            <key>mj_main_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,50},{356,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,334}}</string>
                <key>sourceSize</key>
                <string>{356,334}</string>
            </dict>
            <key>mj_main_barrage_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{699,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{699,46}}</string>
                <key>sourceSize</key>
                <string>{699,46}</string>
            </dict>
            <key>mj_main_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{373,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,359}}</string>
                <key>sourceSize</key>
                <string>{373,359}</string>
            </dict>
            <key>mj_main_horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,298},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>mj_main_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,245},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>mj_main_method.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,223},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>mj_main_prop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{140,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>mj_main_prop_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,358},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>mj_main_prop_jade.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,358},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>mj_main_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,330},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>mj_main_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,245},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>mj_main_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,245},{63,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,83}}</string>
                <key>sourceSize</key>
                <string>{63,83}</string>
            </dict>
            <key>mj_main_victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,327},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_new.pvr.ccz</string>
            <key>size</key>
            <string>{1022,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9f2aecdfcb6f92852e7c3ce01795a87:1/1$</string>
            <key>textureFileName</key>
            <string>lobby_new.pvr.ccz</string>
        </dict>
    </dict>
</plist>
