<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,724},{71,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,100}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>cepai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,724},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>mj_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,831},{49,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{49,60}</string>
            </dict>
            <key>mj_bg_t_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,783},{61,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>mj_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,724},{71,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,100}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>mj_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,831},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>mj_frame_bg_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,848},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>mj_frame_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,783},{82,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,116}}</string>
                <key>sourceSize</key>
                <string>{82,116}</string>
            </dict>
            <key>mj_function_attribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,724},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>mj_function_chast.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,801},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>mj_function_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,724},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>mj_function_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,806},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>mj_game_config_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{779,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{779,467}}</string>
                <key>sourceSize</key>
                <string>{779,467}</string>
            </dict>
            <key>mj_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,724},{69,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,105}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
            <key>mj_interface_attribute_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,724},{147,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,39}}</string>
                <key>sourceSize</key>
                <string>{147,39}</string>
            </dict>
            <key>mj_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,724},{69,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,105}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
            <key>mj_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,846},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>mj_property_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,724},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>mj_property_fold.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,848},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>mj_property_spread.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,848},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>mj_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,846},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>mj_small_bg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,826},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>mj_small_bg_l_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,831},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>mj_small_bg_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,826},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>mj_small_bg_r_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,831},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>mj_table_attribute_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,801},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>mj_table_attribute_configured_arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,848},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>mj_table_attribute_configured_arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,848},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>mj_table_attribute_configured_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,724},{480,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,122}}</string>
                <key>sourceSize</key>
                <string>{480,122}</string>
            </dict>
            <key>mj_table_bg_font_zhengzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,724},{138,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,38}}</string>
                <key>sourceSize</key>
                <string>{138,38}</string>
            </dict>
            <key>mj_table_btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{280,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,96}}</string>
                <key>sourceSize</key>
                <string>{280,96}</string>
            </dict>
            <key>mj_table_surplus_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,848},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>mj_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,724},{69,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,105}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
            <key>sc_room_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj.pvr.ccz</string>
            <key>size</key>
            <string>{1753,883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92bbee2305d10bae27d0fc9674d08852:1/1$</string>
            <key>textureFileName</key>
            <string>mj.pvr.ccz</string>
        </dict>
    </dict>
</plist>
