<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_choose_btn_pao0_can.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>mj_choose_btn_pao0_cannot.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>mj_choose_btn_pao1_can.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>mj_choose_btn_pao1_cannot.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>mj_choose_btn_pao2_can.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>mj_choose_btn_pao2_cannot.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>mj_choose_btn_pao3_can.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>mj_choose_btn_pao3_cannot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>mj_choose_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,2},{414,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,32}}</string>
                <key>sourceSize</key>
                <string>{414,32}</string>
            </dict>
            <key>mj_font_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,2},{97,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,40}}</string>
                <key>sourceSize</key>
                <string>{97,40}</string>
            </dict>
            <key>mj_pao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,2},{41,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,23}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>mj_pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>mj_pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{41,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,23}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>mj_pao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{41,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,23}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_buypao.pvr.ccz</string>
            <key>size</key>
            <string>{1601,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2107a83d7eeee847183bb35403ba3fc:1/1$</string>
            <key>textureFileName</key>
            <string>mj_buypao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
