<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_font_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>mj_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>mj_head_bg_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{225,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,113}}</string>
                <key>sourceSize</key>
                <string>{225,113}</string>
            </dict>
            <key>mj_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>mj_interface_history_list_owner.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,571},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_common.pvr.ccz</string>
            <key>size</key>
            <string>{229,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:617421260b6b83236f78c2e53b83e6b9:1/1$</string>
            <key>textureFileName</key>
            <string>mj_common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
