<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_dice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,362},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,362},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,362},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,284},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,272},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,272},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,272},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,190},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,182},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,182},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,182},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,96},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,92},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,92},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,92},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>mj_dice_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_dice.pvr.ccz</string>
            <key>size</key>
            <string>{468,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17c078b002aab1375590676f16a782d8:1/1$</string>
            <key>textureFileName</key>
            <string>mj_dice.pvr.ccz</string>
        </dict>
    </dict>
</plist>
