<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_small_bg_10_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>mj_small_bg_1_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>mj_small_bg_2_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>mj_small_bg_3_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>mj_small_bg_4_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>mj_small_bg_5_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>mj_small_bg_6_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>mj_small_bg_7_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>mj_small_bg_8_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>mj_small_bg_9_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_small_card.pvr.ccz</string>
            <key>size</key>
            <string>{315,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3ce19f8b03255ca43b25e27dffde5ba:1/1$</string>
            <key>textureFileName</key>
            <string>mj_small_card.pvr.ccz</string>
        </dict>
    </dict>
</plist>
