<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_small_10_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,38},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>mj_small_20_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,32},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>mj_small_30_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>mj_small_31_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>mj_small_32_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,36},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>mj_small_33_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>mj_small_34_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,38},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>mj_small_tiao_1_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>mj_small_tiao_2_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{11,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,31}}</string>
                <key>sourceSize</key>
                <string>{11,31}</string>
            </dict>
            <key>mj_small_tiao_3_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,37},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>mj_small_tiao_4_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,38},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>mj_small_tiao_5_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>mj_small_tiao_6_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,35},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>mj_small_tiao_7_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,37},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>mj_small_tiao_8_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>mj_small_tiao_9_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>mj_small_tong_1_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,38},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>mj_small_tong_2_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>mj_small_tong_3_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,36},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>mj_small_tong_4_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>mj_small_tong_5_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,34},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>mj_small_tong_6_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,37},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>mj_small_tong_7_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>mj_small_tong_8_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,37},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>mj_small_tong_9_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>mj_small_w_1_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,35},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>mj_small_w_2_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>mj_small_w_3_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>mj_small_w_4_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>mj_small_w_5_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,37},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>mj_small_w_6_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>mj_small_w_7_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>mj_small_w_8_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>mj_small_w_9_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_t_small1.pvr.ccz</string>
            <key>size</key>
            <string>{501,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddcf3483d8b76107a26f8140497f18b7:1/1$</string>
            <key>textureFileName</key>
            <string>mj_t_small1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
