<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_small_10_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>mj_small_20_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,37},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>mj_small_30_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,37},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>mj_small_31_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>mj_small_32_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,38},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>mj_small_33_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,35},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>mj_small_34_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,38},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>mj_small_tiao_1_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>mj_small_tiao_2_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{6,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,31}}</string>
                <key>sourceSize</key>
                <string>{6,31}</string>
            </dict>
            <key>mj_small_tiao_3_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>mj_small_tiao_4_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>mj_small_tiao_5_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>mj_small_tiao_6_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>mj_small_tiao_7_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>mj_small_tiao_8_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>mj_small_tiao_9_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>mj_small_tong_1_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,37},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>mj_small_tong_2_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>mj_small_tong_3_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,36},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>mj_small_tong_4_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,35},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>mj_small_tong_5_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,35},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>mj_small_tong_6_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>mj_small_tong_7_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>mj_small_tong_8_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{18,33}</string>
            </dict>
            <key>mj_small_tong_9_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,38},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>mj_small_w_1_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,35},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>mj_small_w_2_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,37},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>mj_small_w_3_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>mj_small_w_4_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,37},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>mj_small_w_5_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>mj_small_w_6_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>mj_small_w_7_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>mj_small_w_8_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>mj_small_w_9_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_t_small4.pvr.ccz</string>
            <key>size</key>
            <string>{433,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b69cc557ce9a6ccf3f5b997a05d9c499:1/1$</string>
            <key>textureFileName</key>
            <string>mj_t_small4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
