<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
            <key>mj_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,70},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>mj_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,68},{41,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,63}}</string>
                <key>sourceSize</key>
                <string>{41,63}</string>
            </dict>
            <key>mj_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,70},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>mj_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,69},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>mj_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,70},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>mj_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,68},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>mj_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,68},{41,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,63}}</string>
                <key>sourceSize</key>
                <string>{41,63}</string>
            </dict>
            <key>mj_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,68},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>mj_bg_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>mj_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,70},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>mj_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,70},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>mj_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,70},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>mj_tiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{47,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,66}}</string>
                <key>sourceSize</key>
                <string>{47,66}</string>
            </dict>
            <key>mj_tiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,113},{12,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,61}}</string>
                <key>sourceSize</key>
                <string>{12,61}</string>
            </dict>
            <key>mj_tiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,65},{39,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,60}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>mj_tiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{31,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{31,61}</string>
            </dict>
            <key>mj_tiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>mj_tiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,65},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>mj_tiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{37,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,63}}</string>
                <key>sourceSize</key>
                <string>{37,63}</string>
            </dict>
            <key>mj_tiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>mj_tiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{38,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,65}}</string>
                <key>sourceSize</key>
                <string>{38,65}</string>
            </dict>
            <key>mj_tong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,68},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>mj_tong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,68},{28,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,58}}</string>
                <key>sourceSize</key>
                <string>{28,58}</string>
            </dict>
            <key>mj_tong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,70},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>mj_tong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,70},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>mj_tong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,70},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>mj_tong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{35,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,63}}</string>
                <key>sourceSize</key>
                <string>{35,63}</string>
            </dict>
            <key>mj_tong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>mj_tong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{35,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,65}}</string>
                <key>sourceSize</key>
                <string>{35,65}</string>
            </dict>
            <key>mj_tong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,69},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>mj_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,67},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>mj_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>mj_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{41,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,65}}</string>
                <key>sourceSize</key>
                <string>{41,65}</string>
            </dict>
            <key>mj_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{41,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,64}}</string>
                <key>sourceSize</key>
                <string>{41,64}</string>
            </dict>
            <key>mj_w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>mj_w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{41,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,66}}</string>
                <key>sourceSize</key>
                <string>{41,66}</string>
            </dict>
            <key>mj_w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{41,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,66}}</string>
                <key>sourceSize</key>
                <string>{41,66}</string>
            </dict>
            <key>mj_w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{41,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,64}}</string>
                <key>sourceSize</key>
                <string>{41,64}</string>
            </dict>
            <key>mj_w_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>mj_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,69},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>mj_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjsuit.pvr.ccz</string>
            <key>size</key>
            <string>{782,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24aed9b2827c8d22efd580dc53058f38:1/1$</string>
            <key>textureFileName</key>
            <string>mjsuit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
