<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_interface_bg_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,506},{175,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,61}}</string>
                <key>sourceSize</key>
                <string>{175,61}</string>
            </dict>
            <key>mj_interface_bg_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{194,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,61}}</string>
                <key>sourceSize</key>
                <string>{194,61}</string>
            </dict>
            <key>mj_interface_buy_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,416},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>mj_interface_buy_prop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,323},{178,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,181}}</string>
                <key>sourceSize</key>
                <string>{178,181}</string>
            </dict>
            <key>mj_interface_shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,587}}</string>
                <key>sourceSize</key>
                <string>{1136,587}</string>
            </dict>
            <key>mj_interface_shop_buy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{204,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,319}}</string>
                <key>sourceSize</key>
                <string>{204,319}</string>
            </dict>
            <key>mj_interface_shop_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,323},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store.pvr.ccz</string>
            <key>size</key>
            <string>{1412,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5146a808f783de43aa4212d76c404334:1/1$</string>
            <key>textureFileName</key>
            <string>store.pvr.ccz</string>
        </dict>
    </dict>
</plist>
