<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>54.732955932617188</real>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>configName</key>
	<string>eff_cosino_pl8</string>
	<key>duration</key>
	<real>0.10000000000000001</real>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.99999123811721802</real>
	<key>finishColorGreen</key>
	<real>0.99997431039810181</real>
	<key>finishColorRed</key>
	<real>0.99999731779098511</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>0.0</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>0.0</real>
	<key>maxParticles</key>
	<real>200</real>
	<key>maxRadius</key>
	<integer>0</integer>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<integer>300</integer>
	<key>minRadiusVariance</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.40110024809837341</real>
	<key>particleLifespanVariance</key>
	<real>0.66003787517547607</real>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>-50</real>
	<key>rotatePerSecond</key>
	<integer>360</integer>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<integer>0</integer>
	<key>sourcePositionVariancey</key>
	<integer>0</integer>
	<key>speed</key>
	<real>42.230899810791016</real>
	<key>speedVariance</key>
	<real>20</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.99999994039535522</real>
	<key>startColorGreen</key>
	<real>0.99999994039535522</real>
	<key>startColorRed</key>
	<real>0.9999966025352478</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>6.2333335876464844</real>
	<key>startParticleSizeVariance</key>
	<real>14.855555534362793</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>eff_cosino_pl8.png</string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
