<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>4shockwave_5.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>eff_casion_24_t_2_00006.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>32.5</real>
				<key>offsetY</key>
				<real>-187</real>
			</dict>
			<key>eff_casion_24_t_2_00007.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>-199.5</real>
			</dict>
			<key>eff_casion_24_t_2_00008.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-195</real>
			</dict>
			<key>eff_casion_24_t_2_00009.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-186</real>
			</dict>
			<key>eff_casion_24_t_2_00010.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-182.5</real>
			</dict>
			<key>eff_casion_24_t_2_00011.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-185.5</real>
			</dict>
			<key>eff_casion_24_t_2_00012.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>309</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-189.5</real>
			</dict>
			<key>eff_casion_24_t_2_00013.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-196</real>
			</dict>
			<key>eff_casion_24_t_2_00014.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-188</real>
			</dict>
			<key>eff_casion_24_t_2_00015.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-184</real>
			</dict>
			<key>eff_casion_24_t_2_00016.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>573</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-176</real>
			</dict>
			<key>eff_casion_24_t_2_00017.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>471</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-177.5</real>
			</dict>
			<key>zha_vs.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>135</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>578</integer>
				<key>y</key>
				<integer>51</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>eff_casion_24_t_1_00000.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>473</integer>
				<key>y</key>
				<integer>179</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>eff_casion_24_t_1_00001.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>296</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>eff_casion_24_t_1_00002.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>eff_casion_24_t_1_00003.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>714</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>eff_casion_24_t_1_00004.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>eff_casion_24_t_1_00005.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>611</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>eff_casion_240.png</string>
			<key>realTextureFileName</key>
			<string>eff_casion_240.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>