<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>140.86082458496094</real>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>configName</key>
	<string>eff_cosino_pl66</string>
	<key>duration</key>
	<real>0.10000000000000001</real>
	<key>emitterType</key>
	<integer>1</integer>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.99999123811721802</real>
	<key>finishColorGreen</key>
	<real>0.99997431039810181</real>
	<key>finishColorRed</key>
	<real>0.99999731779098511</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>0.0</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>-186.432373046875</real>
	<key>maxParticles</key>
	<integer>86</integer>
	<key>maxRadius</key>
	<real>24.820459365844727</real>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<real>37.242820739746094</real>
	<key>minRadiusVariance</key>
	<real>12.398097991943359</real>
	<key>particleLifespan</key>
	<real>0.52734661102294922</real>
	<key>particleLifespanVariance</key>
	<real>0.29999999999999999</real>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<real>13.454833984375</real>
	<key>radialAcceleration</key>
	<real>20.2255859375</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>18.58502197265625</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>46.947788238525391</real>
	<key>sourcePositionVariancex</key>
	<integer>63</integer>
	<key>sourcePositionVariancey</key>
	<integer>0</integer>
	<key>speed</key>
	<real>90.364578247070312</real>
	<key>speedVariance</key>
	<real>74.485641479492188</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.99999994039535522</real>
	<key>startColorGreen</key>
	<real>0.99999994039535522</real>
	<key>startColorRed</key>
	<real>0.9999966025352478</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>12.708074569702148</real>
	<key>startParticleSizeVariance</key>
	<real>19.068323135375977</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>eff_cosino_pl66.png</string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
