<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>93.904312133789062</real>
	<key>angleVariance</key>
	<real>82.72418212890625</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>configName</key>
	<string>eff_tp_pl_2_12</string>
	<key>duration</key>
	<real>0.050000000000000003</real>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.99999123811721802</real>
	<key>finishColorGreen</key>
	<real>0.99997431039810181</real>
	<key>finishColorRed</key>
	<real>0.99999731779098511</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>0.0</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>-310.5589599609375</real>
	<key>maxParticles</key>
	<integer>173</integer>
	<key>maxRadius</key>
	<real>24.723409652709961</real>
	<key>maxRadiusVariance</key>
	<real>10.85069465637207</real>
	<key>minRadius</key>
	<real>58.59375</real>
	<key>minRadiusVariance</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.54440993070602417</real>
	<key>particleLifespanVariance</key>
	<real>0.24844720959663391</real>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<real>13.454833984375</real>
	<key>radialAcceleration</key>
	<real>20.2255859375</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>8</real>
	<key>sourcePositionVariancey</key>
	<real>8</real>
	<key>speed</key>
	<real>99.378883361816406</real>
	<key>speedVariance</key>
	<real>37.267082214355469</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.99999994039535522</real>
	<key>startColorGreen</key>
	<real>0.99999994039535522</real>
	<key>startColorRed</key>
	<real>0.9999966025352478</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>20.255556106567383</real>
	<key>startParticleSizeVariance</key>
	<real>14.855555534362793</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>eff_tp_pl_2_12.png</string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
