<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarphoto_female_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>avatarphoto_female_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>avatarphoto_man_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>avatarphoto_man_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>chushitouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>common_prop_horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{117,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,92}}</string>
                <key>sourceSize</key>
                <string>{117,92}</string>
            </dict>
            <key>common_prop_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{117,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,92}}</string>
                <key>sourceSize</key>
                <string>{117,92}</string>
            </dict>
            <key>error.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1339},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>s_bluebutton_biger.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1276},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>s_bluebutton_routine.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1423},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>s_chat_bluedialogbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1339},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>s_chipsgroove.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1132},{162,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,38}}</string>
                <key>sourceSize</key>
                <string>{162,38}</string>
            </dict>
            <key>s_message_whitebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1295},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>s_message_whitebox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1396},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>s_message_whitebox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1396},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>s_message_wordline.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1410},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,4}</string>
            </dict>
            <key>s_orangeunderline.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1318},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,4}</string>
            </dict>
            <key>s_pagingsign0.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1396},{3,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,35}}</string>
                <key>sourceSize</key>
                <string>{3,35}</string>
            </dict>
            <key>s_pagingsign1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1132},{3,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,35}}</string>
                <key>sourceSize</key>
                <string>{3,35}</string>
            </dict>
            <key>s_peacockbluebutton_routine.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1132},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{77,62}</string>
            </dict>
            <key>s_peacockbluebutton_speechsounds.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1421},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>s_redbutton_biger.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1210},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>s_redbutton_routine.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1423},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>s_timeframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1318},{104,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,26}}</string>
                <key>sourceSize</key>
                <string>{104,26}</string>
            </dict>
            <key>s_timegroove.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1400},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>zha_buttonbase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.pvr.ccz</string>
            <key>size</key>
            <string>{229,1471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:765210cace81fa356642d6bf321da93d:1/1$</string>
            <key>textureFileName</key>
            <string>common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
