<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj_banker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{677,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,58}}</string>
                <key>sourceSize</key>
                <string>{677,58}</string>
            </dict>
            <key>box_background01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,853},{188,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,73}}</string>
                <key>sourceSize</key>
                <string>{188,73}</string>
            </dict>
            <key>box_background02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,536},{146,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,64}</string>
            </dict>
            <key>box_buy_background01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,691},{295,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,77}}</string>
                <key>sourceSize</key>
                <string>{295,77}</string>
            </dict>
            <key>box_buy_background02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,975},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>button_yellowbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,472},{177,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,63}</string>
            </dict>
            <key>c_avatar_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{286,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,286}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>c_avatar_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,639},{239,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,239}}</string>
                <key>sourceSize</key>
                <string>{239,239}</string>
            </dict>
            <key>c_avatar_other_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,360},{182,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,47}}</string>
                <key>sourceSize</key>
                <string>{182,47}</string>
            </dict>
            <key>c_avatar_other_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,212},{239,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,239}}</string>
                <key>sourceSize</key>
                <string>{239,239}</string>
            </dict>
            <key>c_avatarbox_giftbox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,769},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>c_dialogbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,653},{115,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,98}}</string>
                <key>sourceSize</key>
                <string>{115,98}</string>
            </dict>
            <key>c_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,474},{25,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,65}}</string>
                <key>sourceSize</key>
                <string>{25,65}</string>
            </dict>
            <key>c_hongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{563,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,81}}</string>
                <key>sourceSize</key>
                <string>{563,81}</string>
            </dict>
            <key>c_mb_big_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{51,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,564}}</string>
                <key>sourceSize</key>
                <string>{51,564}</string>
            </dict>
            <key>c_mb_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,956},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>c_mb_cutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,481},{344,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,4}}</string>
                <key>sourceSize</key>
                <string>{344,4}</string>
            </dict>
            <key>c_mb_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,858},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>c_mb_groove.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,816},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>c_mb_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,987},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>c_mb_pagecheck1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,667},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>c_mb_pagecheck2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,927},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>c_mb_pagecheck3.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,961},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>c_mb_pagecheckback.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,976},{115,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,46}}</string>
                <key>sourceSize</key>
                <string>{115,46}</string>
            </dict>
            <key>c_menuicon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,845},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>c_menuicon_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,683},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>c_menuicon_leaveroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,912},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>c_orange_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,956},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>c_redpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,562},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>c_slide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,452},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>c_slide_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,612},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>common_small_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,562},{49,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,279}}</string>
                <key>sourceSize</key>
                <string>{49,279}</string>
            </dict>
            <key>exchange_yuanblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,667},{185,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,185}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>game_table_addbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,218},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>game_table_choosefriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,212},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>game_table_serch.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,976},{100,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,45}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>game_table_serchicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,259},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>gifts_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,683},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>greenbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,475},{177,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,63}</string>
            </dict>
            <key>icon_stencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,612},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>info_avatargroove.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,475},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,191}}</string>
                <key>sourceSize</key>
                <string>{191,191}</string>
            </dict>
            <key>label_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,838},{221,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,50}}</string>
                <key>sourceSize</key>
                <string>{221,50}</string>
            </dict>
            <key>label_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,923},{220,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,52}}</string>
                <key>sourceSize</key>
                <string>{220,52}</string>
            </dict>
            <key>label_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{1136,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,13}}</string>
                <key>sourceSize</key>
                <string>{1136,13}</string>
            </dict>
            <key>load.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,912},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>lobby_button_horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,971},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>lobby_button_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,971},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>lobby_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{1136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,70}}</string>
                <key>sourceSize</key>
                <string>{1136,70}</string>
            </dict>
            <key>lobby_inputbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,978},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>lobby_newsback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,524},{457,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,37}}</string>
                <key>sourceSize</key>
                <string>{457,37}</string>
            </dict>
            <key>lobby_newsback2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,486},{457,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,37}}</string>
                <key>sourceSize</key>
                <string>{457,37}</string>
            </dict>
            <key>message_chatgroove.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,978},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>mj_head_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,536},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>mj_interface_cpm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{524,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,279}}</string>
                <key>sourceSize</key>
                <string>{524,279}</string>
            </dict>
            <key>mj_interface_cpm_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,968},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>notice_groove.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,961},{59,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,72}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>receive_groove.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1123,122}}</string>
                <key>sourceSize</key>
                <string>{1123,122}</string>
            </dict>
            <key>redbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,408},{177,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,63}}</string>
                <key>sourceSize</key>
                <string>{177,63}</string>
            </dict>
            <key>s_chat_whitebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,755},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>s_peacockbluebutton_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,769},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>s_peacockbluebutton_reduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,845},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>s_progressbar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,474},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>s_progressbar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,452},{200,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,22}}</string>
                <key>sourceSize</key>
                <string>{200,22}</string>
            </dict>
            <key>s_storebox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,2},{209,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,332}}</string>
                <key>sourceSize</key>
                <string>{209,332}</string>
            </dict>
            <key>s_yellowbutton_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,911},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>s_yellowbutton_reduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,842},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>setting_dianxuanyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,562},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>setting_huadong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,937},{236,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,23}}</string>
                <key>sourceSize</key>
                <string>{236,23}</string>
            </dict>
            <key>setting_huadong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,913},{236,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,23}}</string>
                <key>sourceSize</key>
                <string>{236,23}</string>
            </dict>
            <key>setting_huadong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,889},{236,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,23}}</string>
                <key>sourceSize</key>
                <string>{236,23}</string>
            </dict>
            <key>shop_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,691},{216,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,328}}</string>
                <key>sourceSize</key>
                <string>{216,328}</string>
            </dict>
            <key>shop_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,879},{236,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,43}}</string>
                <key>sourceSize</key>
                <string>{236,43}</string>
            </dict>
            <key>shop_frame_02hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,429},{203,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,44}}</string>
                <key>sourceSize</key>
                <string>{203,44}</string>
            </dict>
            <key>shop_frame_02lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{203,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,44}}</string>
                <key>sourceSize</key>
                <string>{203,44}</string>
            </dict>
            <key>shop_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,218},{216,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,328}}</string>
                <key>sourceSize</key>
                <string>{216,328}</string>
            </dict>
            <key>shop_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,975},{39,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,68}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
            <key>shop_frame_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{984,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{984,7}}</string>
                <key>sourceSize</key>
                <string>{984,7}</string>
            </dict>
            <key>shop_frame_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,435},{45,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,332}}</string>
                <key>sourceSize</key>
                <string>{45,332}</string>
            </dict>
            <key>vip_slider_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,212},{46,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,31}}</string>
                <key>sourceSize</key>
                <string>{46,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_170.pvr.ccz</string>
            <key>size</key>
            <string>{1491,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:074c4a9805b5d86915f5a6b1cbe64008:1/1$</string>
            <key>textureFileName</key>
            <string>common_170.pvr.ccz</string>
        </dict>
    </dict>
</plist>
