<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_interface_btn_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,5},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>mj_interface_btn_create_can.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,152},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>mj_interface_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,5},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>mj_interface_choose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,50},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>mj_interface_choose_radio.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,103},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>mj_interface_choose_radio_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,77},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mj_interface_create_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{759,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{759,2}}</string>
                <key>sourceSize</key>
                <string>{759,2}</string>
            </dict>
            <key>mj_interface_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{355,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,215}}</string>
                <key>sourceSize</key>
                <string>{355,215}</string>
            </dict>
            <key>mj_interface_title_creat.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,5},{146,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,39}}</string>
                <key>sourceSize</key>
                <string>{146,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createPrivateRoom.pvr.ccz</string>
            <key>size</key>
            <string>{763,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:398fe5e897af68a66134755b29d597db:1/1$</string>
            <key>textureFileName</key>
            <string>createPrivateRoom.pvr.ccz</string>
        </dict>
    </dict>
</plist>
