<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gifts_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,454},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>gifts_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,368},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>gifts_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,282},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>gifts_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,196},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>gifts_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>gifts_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>gifts_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>gifts_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>gifts_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,99},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>gifts_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>gifts_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,189}}</string>
                <key>sourceSize</key>
                <string>{143,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gifts_170.pvr.ccz</string>
            <key>size</key>
            <string>{233,559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb5233311a9a8b52e4d96d465ae8776:1/1$</string>
            <key>textureFileName</key>
            <string>gifts_170.pvr.ccz</string>
        </dict>
    </dict>
</plist>
