<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_interface_btn_font_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,49},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>mj_interface_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{591,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,46}}</string>
                <key>sourceSize</key>
                <string>{591,46}</string>
            </dict>
            <key>mj_interface_title_import.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,49},{183,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,39}}</string>
                <key>sourceSize</key>
                <string>{183,39}</string>
            </dict>
            <key>mj_interface_write_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,87}}</string>
                <key>sourceSize</key>
                <string>{570,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>invite_key.pvr.ccz</string>
            <key>size</key>
            <string>{1166,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a813dddc3259a157786153753507a6:1/1$</string>
            <key>textureFileName</key>
            <string>invite_key.pvr.ccz</string>
        </dict>
    </dict>
</plist>
