<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_interface_btn_kuaisu.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,23},{280,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,96}}</string>
                <key>sourceSize</key>
                <string>{280,96}</string>
            </dict>
            <key>mj_interface_btn_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{280,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,96}}</string>
                <key>sourceSize</key>
                <string>{280,96}</string>
            </dict>
            <key>mj_interface_btn_weixin_forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,96}}</string>
                <key>sourceSize</key>
                <string>{280,96}</string>
            </dict>
            <key>mj_interface_enter_bg_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{570,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,24}}</string>
                <key>sourceSize</key>
                <string>{570,24}</string>
            </dict>
            <key>mj_interface_enter_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{564,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,20}}</string>
                <key>sourceSize</key>
                <string>{564,20}</string>
            </dict>
            <key>s_signpanel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,23},{61,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_170.pvr.ccz</string>
            <key>size</key>
            <string>{1139,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2175cbc012a9f4fc927f710a0a807826:1/1$</string>
            <key>textureFileName</key>
            <string>login_170.pvr.ccz</string>
        </dict>
    </dict>
</plist>
