<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_font_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>mj_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>mj_head_bg_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{225,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,113}}</string>
                <key>sourceSize</key>
                <string>{225,113}</string>
            </dict>
            <key>mj_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>mj_interface_history_list_owner.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,568},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_common.pvr.ccz</string>
            <key>size</key>
            <string>{229,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a96b76bf1de7e637a6a96eaf44bccdfd:1/1$</string>
            <key>textureFileName</key>
            <string>mj_common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
