<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_bg_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{74,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,101}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mj_bg_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{61,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>mj_hu_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{69,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,105}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
            <key>mj_small_bg_10_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,77},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>mj_small_bg_1_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,64},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>mj_small_bg_2_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,72},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>mj_small_bg_3_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,72},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>mj_small_bg_4_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,72},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>mj_small_bg_5_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,72},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>mj_small_bg_6_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>mj_small_bg_7_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>mj_small_bg_8_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,77},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>mj_small_bg_9_t_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,77},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>mj_small_bg_l_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>mj_small_bg_r_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,64},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>mj_u_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,105}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_hun.pvr.ccz</string>
            <key>size</key>
            <string>{454,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7864ea49c57cdf0e1dae9b410128089f:1/1$</string>
            <key>textureFileName</key>
            <string>mj_hun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
