<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_table_bg_font_kaifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,34}}</string>
                <key>sourceSize</key>
                <string>{138,34}</string>
            </dict>
            <key>mj_table_bg_tuidaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_tableTitle.pvr.ccz</string>
            <key>size</key>
            <string>{238,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4927426df09d5211e2624589c3d02c40:1/1$</string>
            <key>textureFileName</key>
            <string>mj_tableTitle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
