<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_interface_bg_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{1032,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,550}}</string>
                <key>sourceSize</key>
                <string>{1032,550}</string>
            </dict>
            <key>mj_interface_bg_big_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1032,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,550}}</string>
                <key>sourceSize</key>
                <string>{1032,550}</string>
            </dict>
            <key>mj_interface_bg_decorate_dark_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1170},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>mj_interface_bg_decorate_light_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1104},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>mj_interface_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{610,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,368}}</string>
                <key>sourceSize</key>
                <string>{610,368}</string>
            </dict>
            <key>mj_interface_btn_bg_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1247},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>mj_interface_btn_bg_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1104},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>mj_interface_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1390},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_ui.pvr.ccz</string>
            <key>size</key>
            <string>{1036,1474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10544f76f9a1a1d85a490eb095715063:1/1$</string>
            <key>textureFileName</key>
            <string>mj_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
