<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_interface_dissolve_bg_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>mj_interface_dissolve_btn_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,42},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>mj_interface_dissolve_btn_agree_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,42},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>mj_interface_dissolve_btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,54},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>mj_interface_dissolve_btn_refuse_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>mj_interface_dissolve_title_apply.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{268,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,39}}</string>
                <key>sourceSize</key>
                <string>{268,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_vote.pvr.ccz</string>
            <key>size</key>
            <string>{542,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc7b7b2a243f14bd04e3a7e1890af3fa:1/1$</string>
            <key>textureFileName</key>
            <string>mj_vote.pvr.ccz</string>
        </dict>
    </dict>
</plist>
