<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
            <key>mj_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,69},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>mj_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,67},{41,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,63}}</string>
                <key>sourceSize</key>
                <string>{41,63}</string>
            </dict>
            <key>mj_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,69},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>mj_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,68},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>mj_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,69},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>mj_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,67},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>mj_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,67},{41,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,63}}</string>
                <key>sourceSize</key>
                <string>{41,63}</string>
            </dict>
            <key>mj_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,67},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>mj_bg_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>mj_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,69},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>mj_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,69},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>mj_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,69},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>mj_tiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{47,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,66}}</string>
                <key>sourceSize</key>
                <string>{47,66}</string>
            </dict>
            <key>mj_tiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,111},{12,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,61}}</string>
                <key>sourceSize</key>
                <string>{12,61}</string>
            </dict>
            <key>mj_tiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,64},{39,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,60}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>mj_tiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{31,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{31,61}</string>
            </dict>
            <key>mj_tiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>mj_tiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,64},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>mj_tiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{37,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,63}}</string>
                <key>sourceSize</key>
                <string>{37,63}</string>
            </dict>
            <key>mj_tiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>mj_tiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{38,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,65}}</string>
                <key>sourceSize</key>
                <string>{38,65}</string>
            </dict>
            <key>mj_tong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,67},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>mj_tong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,67},{28,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,58}}</string>
                <key>sourceSize</key>
                <string>{28,58}</string>
            </dict>
            <key>mj_tong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,69},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>mj_tong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,69},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>mj_tong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,69},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>mj_tong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{35,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,63}}</string>
                <key>sourceSize</key>
                <string>{35,63}</string>
            </dict>
            <key>mj_tong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>mj_tong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{35,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,65}}</string>
                <key>sourceSize</key>
                <string>{35,65}</string>
            </dict>
            <key>mj_tong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,68},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>mj_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,66},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>mj_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>mj_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{41,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,65}}</string>
                <key>sourceSize</key>
                <string>{41,65}</string>
            </dict>
            <key>mj_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{41,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,64}}</string>
                <key>sourceSize</key>
                <string>{41,64}</string>
            </dict>
            <key>mj_w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>mj_w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{41,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,66}}</string>
                <key>sourceSize</key>
                <string>{41,66}</string>
            </dict>
            <key>mj_w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{41,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,66}}</string>
                <key>sourceSize</key>
                <string>{41,66}</string>
            </dict>
            <key>mj_w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{41,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,64}}</string>
                <key>sourceSize</key>
                <string>{41,64}</string>
            </dict>
            <key>mj_w_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>mj_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,68},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>mj_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjsuit.pvr.ccz</string>
            <key>size</key>
            <string>{773,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ef5feb63eef09603759fbc49cc5e7a2:1/1$</string>
            <key>textureFileName</key>
            <string>mjsuit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
