<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_10_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{44,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{44,16}</string>
            </dict>
            <key>mj_20_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>mj_30_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{47,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,18}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
            <key>mj_31_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>mj_32_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,379},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>mj_33_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>mj_34_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{31,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,16}}</string>
                <key>sourceSize</key>
                <string>{31,16}</string>
            </dict>
            <key>mj_tiao_1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>mj_tiao_2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,272},{41,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,5}}</string>
                <key>sourceSize</key>
                <string>{41,5}</string>
            </dict>
            <key>mj_tiao_3_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,16}}</string>
                <key>sourceSize</key>
                <string>{42,16}</string>
            </dict>
            <key>mj_tiao_4_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,42},{43,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,13}}</string>
                <key>sourceSize</key>
                <string>{43,13}</string>
            </dict>
            <key>mj_tiao_5_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{45,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,16}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>mj_tiao_6_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{45,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,16}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>mj_tiao_7_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,16}}</string>
                <key>sourceSize</key>
                <string>{43,16}</string>
            </dict>
            <key>mj_tiao_8_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,134},{45,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,16}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>mj_tiao_9_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,86},{47,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,16}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>mj_tong_1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,412},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>mj_tong_2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{39,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,12}}</string>
                <key>sourceSize</key>
                <string>{39,12}</string>
            </dict>
            <key>mj_tong_3_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>mj_tong_4_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,324},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>mj_tong_5_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>mj_tong_6_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,226},{45,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,14}}</string>
                <key>sourceSize</key>
                <string>{45,14}</string>
            </dict>
            <key>mj_tong_7_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,19}}</string>
                <key>sourceSize</key>
                <string>{47,19}</string>
            </dict>
            <key>mj_tong_8_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,180},{45,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,14}}</string>
                <key>sourceSize</key>
                <string>{45,14}</string>
            </dict>
            <key>mj_tong_9_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{46,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,20}}</string>
                <key>sourceSize</key>
                <string>{46,20}</string>
            </dict>
            <key>mj_w_1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{42,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,18}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>mj_w_2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{43,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,17}}</string>
                <key>sourceSize</key>
                <string>{43,17}</string>
            </dict>
            <key>mj_w_3_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{44,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,18}}</string>
                <key>sourceSize</key>
                <string>{44,18}</string>
            </dict>
            <key>mj_w_4_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{42,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,18}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>mj_w_5_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{44,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,17}}</string>
                <key>sourceSize</key>
                <string>{44,17}</string>
            </dict>
            <key>mj_w_6_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{44,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,18}}</string>
                <key>sourceSize</key>
                <string>{44,18}</string>
            </dict>
            <key>mj_w_7_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{45,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,18}}</string>
                <key>sourceSize</key>
                <string>{45,18}</string>
            </dict>
            <key>mj_w_8_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{43,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,18}}</string>
                <key>sourceSize</key>
                <string>{43,18}</string>
            </dict>
            <key>mj_w_9_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{45,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,17}}</string>
                <key>sourceSize</key>
                <string>{45,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjsuit_l.pvr.ccz</string>
            <key>size</key>
            <string>{64,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b59aa64f8922dbe614c9314f9ca06efd:1/1$</string>
            <key>textureFileName</key>
            <string>mjsuit_l.pvr.ccz</string>
        </dict>
    </dict>
</plist>
