<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_interface_adjust_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mj_interface_attribute_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,27},{338,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,24}}</string>
                <key>sourceSize</key>
                <string>{338,24}</string>
            </dict>
            <key>mj_interface_attribute_size.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{338,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,24}}</string>
                <key>sourceSize</key>
                <string>{338,24}</string>
            </dict>
            <key>mj_interface_btn_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,30},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>mj_interface_btn_zhuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{82,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,27}}</string>
                <key>sourceSize</key>
                <string>{82,27}</string>
            </dict>
            <key>mj_interface_option_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>mj_interface_title_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_setting.pvr.ccz</string>
            <key>size</key>
            <string>{656,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdb7ad9eed110efdcd447a1ac01378f7:1/1$</string>
            <key>textureFileName</key>
            <string>s_setting.pvr.ccz</string>
        </dict>
    </dict>
</plist>
