<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_wchat_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,69}}</string>
                <key>sourceSize</key>
                <string>{224,69}</string>
            </dict>
            <key>btn_wchat_moments.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{223,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,69}}</string>
                <key>sourceSize</key>
                <string>{223,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weixin.pvr.ccz</string>
            <key>size</key>
            <string>{452,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1512df50e896f0c8ffdf6c86a4f532db:1/1$</string>
            <key>textureFileName</key>
            <string>weixin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
